*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-color: #f5f5f5;
  --gray-dark-color: #948e91;
  --dark-color: #333;
  --green-color: #4f9c2e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-color);
  background-color: var(--gray-color);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
button,
input {
  display: block;
  font-size: 1rem;
  color: var(--dark-color);
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
